body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
h1{
  text-align: center;
  font-size: 25px;
}
h2{
  text-align: center;
}
main {
text-align: center;
font-size: 15px;
font-style: normal;
}

fig {
  extrapadding: 5rem;

}

p {
  text-align: left;
}
 ul {
   text-align: left;
 }
